@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: 1rem;
  position: absolute;
  top: 60%;
  left: 27%;
  margin: -100px 0 0 -100px;
}

.loading-screen .dot {
  position: relative;
  width: 1rem;
  height: 1rem;
  margin: 0.8em;
  border-radius: 50%;
}

.loading-screen .dot::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: anime 2s ease-out infinite;
}
@-webkit-keyframes anime {
  90%,
  75% {
    transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

.loading-screen .dot:nth-child(1) {
  background-color: #4285f5;
}
.loading-screen .dot:nth-child(2) {
  background-color: #ea4436;
}

.loading-screen .dot:nth-child(3) {
  background-color: #fbbd06;
}

.loading-screen .dot:nth-child(4) {
  background-color: #34a952;
}

.loading-screen .dot:nth-child(5) {
  background-color: #cf9fff;
}
